#header {
	height: 20%;
	border: 1px solid black;
}

#sidebar{
	float: left;
	width: 30%;
	height: 70%;
	border: 1px solid black;
}

#main_content{
	float: right;
	width: 65%;
	height: 70%;
	border: 1px solid black
}

#footer{
	height: 10%;
	border: 1px solid black;

}

/* if require to support multiple layout*/

.l-mobile #sidebar{
	float: none;	
	width: 100%;
}

.l-mobile #main_content{
	float: none;
	width: 100%;	
}



